[2015-01-28 08:07] diavolodeejay opened #3 "Whatsapp and cydia"
After the lastest update to 1.7 whatsapp And cydia icon are no more themed! i think you messed up something :c

[2015-01-28 08:15] CasualDeveloper commented on #3
Yup. I checked the theme folder and a LOT of other icons are missing compared to the dev version.

[2015-01-28 14:36] colbyfayock commented on #3
@diavolodeejay @KaiHD i'm looking into it. reinstalling the theme with a respring worked for me. I'm not sure what happened.... can you try that and see if it works for now?

[2015-01-28 16:09] gabrieleancora commented on #3
I already tried some hours ago..After I downloaded the deb from here, i installed it and respringed and it's all working perfectly.

—
Inviato da Mailbox

On Wed, Jan 28, 2015 at 3:36 PM, Colby Fayock notifications@github.com
wrote:

[2015-01-29 07:58] CasualDeveloper commented on #3
Have reinstalled and resprung. Didn't help.

[2015-01-29 07:59] CasualDeveloper commented on #3
(I reinstalled the one from ModMyi)

[2015-01-29 14:32] colbyfayock commented on #3
a modmyi person is looking into what's wrong. hoping to hear something soon to get a fix out. not sure what happened

[2015-01-29 21:16] colbyfayock commented on #3
@KaiHD @diavolodeejay Fix is out on Cydia! :) Let me know if you still have any issues

[2015-01-29 21:16] #3 closed

[2015-02-13 18:22] murrylincoln opened #4 "Steam Mobile, Simple - Better Banking, and Sybu for Kodi and XBMC"
Steam: https://itunes.apple.com/us/app/steam-mobile/id495369748?mt=8
Simple: https://itunes.apple.com/us/app/simple-better-banking/id479317486?mt=8
Sybu: https://itunes.apple.com/us/app/sybu-for-kodi-and-xbmc/id567524653?mt=8

Great theme, and thanks for taking requests.

[2015-02-17 04:00] colbyfayock commented on #4
@murrylincoln check out cydia repo http://cydia.fay.io for an updated dev release with these :) will be submitting the release to modmyi within the next couple of days

[2015-02-17 04:03] #4 closed

[2015-02-17 04:04] murrylincoln commented on #4
Awesome, thanks for the update!

[2015-04-11 06:45] inket opened #5 "Icon request: Outlook, Pebble, Midori, Redd, Clima"
Hey, thank you for this theme! It's easily the best theme currently available.

I would love it if you could add the icons for these apps:

- Outlook: https://itunes.apple.com/jp/app/microsoft-outlook/id951937596?l=en&mt=8
Currently there is already a bundle for Exchange(?) under the name `com.microsoft.exchange.iphone` that just needs renaming to `com.microsoft.Office.Outlook` (and the files insi

[2015-04-13 23:13] colbyfayock commented on #5
@inket hm. I would love the pull request to make my life easier, but I think I'll need to make a new one anyways. that Icon was for OWA. I'll have to somehow differentiate between the two while keeping the colors consistent. OWA: https://itunes.apple.com/us/app/owa-for-iphone/id659503543?mt=8

As for the paid apps, we have 2 options that include getting them themed by me. You can either send me th

[2015-04-15 13:58] inket commented on #5
Sweet! Thank you! If I can get your email address by DM on Twitter I'll send you the bundle and Clima.

[2015-04-17 03:32] colbyfayock commented on #5
hiya @inket - can you check out the latest dev release (1.8.1) on repo http://cydia.fay.io and make sure Clima and Midori are working? :D All the rest seem to theme properly on my device!

https://github.com/colbyfayock/minimal.iOS.8/releases/tag/1.8.1

[2015-04-17 04:59] inket commented on #5
Perfect!

![](http://i.imgur.com/VUoo5UP.png)

Thank you so much :D

[2015-04-17 11:16] nellthan22 opened #6 "Icon List."
In my iPad Mini, version 8.1.2 there are no icons in the following apps:

1) Apple Clock,
2) Aple Photo Booth,
3) Dumb Ways to Die 2,
4) Jetpack Joyride,
5) My Talking Tom,
6) Wattpad,
7) AppCake,
8) Movie Box,
9) MyWi and
10) Imgur Browsr.

I would appreciate if you add these icons in the next update.

P.S. I would like an option for a circle mask as i think your theme fits perfectly on a circle

[2015-04-17 13:18] colbyfayock commented on #5
No problem :+1:

[2015-04-17 13:18] #5 closed

[2015-04-20 16:55] ghost commented on #6
Also, i would brefer the imgur browsr to olny have a green dot on a black backround so it is pretty minimal. Also for appcake, a blue star on a white background. :)

[2015-04-20 20:55] colbyfayock commented on #6
@nellthan22 hey i'll get these in for ya. i'll add some alt icons for you too :) i'm working on putting together a larger release, so i'll group it in there. might take a 1-3 weeks though depending on how things go

[2015-04-22 08:47] ghost commented on #6
I dont mind waiting. :D

[2015-04-29 03:58] colbyfayock opened #7 "Need help confirming some paid apps :D"
Would appreciate some help confirming some of these paid apps on the latest dev release (1.8.2). Add source http://cydia.fay.io to get at it in Cydia or grab the .deb/.zip from the releases section (https://github.com/colbyfayock/minimal.iOS.8/releases/tag/1.8.2)

PLEASE comment below, tweet, email, or whatever to confirm :)

Also if you notice any icons unthemed that probably should? Like most of

[2015-04-29 04:01] colbyfayock commented on #7
@inket can you confirm Clima and Midori on 1.8.2?

[2015-04-29 04:38] inket commented on #7
Hey :)

Midori is fine. Reeder has a blue-ish hue (which is probably intended)

Clima's custom icon is not working though! I tracked it down and it seems that it's just about renaming the bundle from `com.littlebigcode.Climaear` to `com.littlebigcode.Clima`

![](http://i.imgur.com/Q1JIAGc.jpg)

Thank you!

[2015-04-29 13:43] colbyfayock commented on #7
thanks @inket i'll get that in a bug fix tonight :D the reeder updates intended. let me know if you notice anything else weird

[2015-04-29 20:23] ghost commented on #7
Amazon and RadarScope are working great! Thanks for the updates!

[2015-04-30 00:23] colbyfayock commented on #7
appreciate it @bdhudd :D

[2015-04-30 00:30] colbyfayock opened #8 "Icon requests"
- Shazam Encore
 - P.Tracker
 - Geico Mobile
 - Two Dots

[2015-04-30 00:34] colbyfayock opened #9 "XKit not themed 1.8.2"
New icon filesnames

AppIcon-176x76~ipad.png
AppIcon-176x76@2x~ipad.png
AppIcon-172x72~ipad.png
AppIcon-172x72@2x~ipad.png
AppIcon-160x60@2x.png
AppIcon-160x60@3x.png
AppIcon-140x40~ipad.png
AppIcon-140x40@2x~ipad.png
AppIcon-129x29.png
AppIcon-129x29@3x.png

[2015-04-30 03:08] colbyfayock commented on #7
@inket can you try these bug fixes :D
http://cydia.fay.io
https://github.com/colbyfayock/minimal.iOS.8/releases/tag/1.8.3

[2015-04-30 13:46] inket commented on #7
@colbyfayock Perfect! :D Thank you ^_^

[2015-05-02 22:57] ghost commented on #8
This is what youre working with today?

[2015-05-02 22:59] ghost commented on #6
Hello? Yould you kindly add N_eye to the request? He just had CCTV's connected to our house and the icon doesnt really fit the theme. Thanks anyway.

[2015-05-02 23:26] ghost commented on #7
Wolframalpha working perfect!
![image](https://cloud.githubusercontent.com/assets/11992896/7443100/b00667d6-f165-11e4-9e85-e4ce6130e811.jpg)

[2015-05-03 00:03] colbyfayock commented on #8
@nellthan22 those and some of the ones you requested will be part of the next update early this upcoming week :)

[2015-05-03 00:04] colbyfayock commented on #7
Thanks @nellthan22

[2015-05-05 09:25] nellthan22 opened #10 ".dev version 1.8.3 not showing safari, mail, and camera"
![image](https://cloud.githubusercontent.com/assets/11992896/7469965/988f8fe6-f34b-11e4-9ec8-58b5bddbb87d.jpg)

Here's the image in 1.8.1:
![image](https://cloud.githubusercontent.com/assets/11992896/7469937/677d7d6e-f34b-11e4-89f2-d433f4a1d65e.jpg)

[2015-05-05 09:29] ghost commented on #7
Xmod games good
![image](https://cloud.githubusercontent.com/assets/11992896/7470055/49cda73e-f34c-11e4-8620-d8d07e4d5661.jpg)

[2015-05-05 13:25] colbyfayock opened #11 "Add Smartplayer, Camera Roll Bug iPad"
I am requesting that the app Smartplayer (bundle ID com.shaddeen.SmartPlayer) be themed. Also, I have noticed that through the dev update a few days ago, the photos app was no longer themed on my iPad. I dug around in iFile but couldn't find the culprit, so I just replaced the photo folder with the one from the non-dev version of minimal.ios.8. Don't know if this issue is for everybody, or just me

[2015-05-05 15:12] colbyfayock commented on #9
confirmed working on latest dev

[2015-05-05 15:12] #9 closed

[2015-05-06 02:39] colbyfayock commented on #6
@nellthan22 hiya, please try the latest dev release for Wattpad, Musicbox, and Imgur Browsr

cydia source: http://cydia.fay.io
https://github.com/colbyfayock/minimal.iOS.8/releases/tag/1.8.4

The other apps I'll need you to get me the bundle ID's and icon file names and AppCake I won't do

Thanks

[2015-05-06 02:40] colbyfayock commented on #7
Thanks all :D

[2015-05-06 02:40] #7 closed

[2015-05-06 02:54] ghost commented on #6
um btw, music box?

[2015-05-06 02:56] ghost commented on #10
sorry, include photos too

EDIT: if you look closely, the other icons are changed subtly too..

[2015-05-06 02:57] colbyfayock commented on #6
I also did a Musicbox, I see now that you wanted Movie Box. That is another app that I will need you to provide the bundle ID and file names.

[2015-05-06 02:59] ghost commented on #11
Me too, but also for camera mail and safari

[2015-05-06 03:00] colbyfayock commented on #10
I'll try and get these fixes on the next dev release. I did a refresh of the color scheme to make it more consistent theme-wide. As long as it's themed, it's as intended (unless it's blurry or something).

[2015-05-06 03:00] colbyfayock commented on #6
Also n_eye is on my to-do for next dev release

[2015-05-06 03:02] ghost commented on #6
how will i provide you it?

[2015-05-06 03:04] colbyfayock commented on #6
http://www.reddit.com/r/iOSthemes/comments/1uv8iz/ive_made_an_image_tutorial_on_how_to_make_a_theme/ which links to http://imgur.com/a/CQ0bN

[2015-05-06 03:06] ghost commented on #10
Well, I bought your theme for the pastel colors, but its okay. :D

[2015-05-06 03:07] colbyfayock commented on #10
my theme is free :+1:

[2015-05-06 03:11] ghost commented on #6
il do this later as im kinda busy. :D

[2015-05-06 03:13] ghost commented on #10
Oh yeah.. got*

[2015-05-08 13:49] colbyfayock commented on #10
@nellthan22 they're all fixed? :D

[2015-05-19 13:14] ghost commented on #10
sorry, closed wrong issue

[2015-05-19 13:14] #6 closed

[2015-05-20 03:11] #8 closed

[2015-05-20 03:27] #11 closed

[2015-06-18 04:19] inket opened #12 "Icon request: Pebble Time"
Hey again,

Pebble released a new app (for the new watch) called `Pebble Time`. We can use the old `Pebble` app's icon, but it just needs renaming?

Also, no need to worry about duplicating it because the 2 apps don't work together and the user can only use one of them!

Thank you for keeping this theme awesome! :D

[2015-06-22 20:33] TheLonewolf69 opened #13 "Icon request"
Can you make icon for ~~pandora~~, moviebox, gba4ios, ~~Twitter~~  , ~~appcake~~, ~~flex~~ and ~~google maps~~ thanks

edit: adding Playbox to this issue thread

[2015-06-22 21:20] TheLonewolf69 opened #14 "Icon request"
Playbox thenks

[2015-06-23 23:21] colbyfayock commented on #13
hey @TheLonewolf69 - pandora, twitter, google maps should be themed, though simply, just flattened out. can you show me a screenshot and what device? also, won't do appcake and flex is a paid app

[2015-06-23 23:22] #14 closed

[2015-06-23 23:23] colbyfayock commented on #10
@nellthan22 are any of these still an issue?

[2015-06-23 23:25] colbyfayock opened #15 "Icon Requests"
Bing, FoxNow, tiny scan, Glide, yahoo sports

[2015-06-23 23:26] colbyfayock commented on #15
yahoo sports

[2015-06-23 23:26] colbyfayock opened #16 "Calendar icon"
Calendar icon incorrectly theming

[2015-06-23 23:26] colbyfayock commented on #16
Fixed in dev release http://cydia.fay.io

[2015-06-23 23:28] colbyfayock commented on #15
winterboard icon

[2015-06-24 22:32] colbyfayock commented on #10
others noted this is still an issue. keeping in as ticket, will try to get in next bug fix

[2015-06-24 23:22] colbyfayock opened #17 "wunderlist ipad"
wunderlist not theming on ipad

[2015-06-25 04:14] tjahjono opened #18 "Icon Requests"
* AnyList
* AOLReader
* Buffer
* Camera++
* Check the Weather 
* Cocoa Top (Cydia)
* Crash Reporter (Cydia)
* Dark Sky
* Delivered!
* Duo Mobile
* Emoji++
* Enpass
* First State
* GV Mobile +
* Instapaper
* iTip
* Mail to Self
* Mango Money
* NAVIGON
* Pastebin
* PkgBackup (Cydia)
* Ringtone Designer Pro
* Slate
* Timehop
* Truecaller
* Tydlig
* WhatFont
* Wikiwand

[2015-06-25 04:15] tjahjono opened #19 "Icons not theming correctly on 6+"
Activator, AppInfo, and Google+ does not seem to be theming on a 6+

Edit: adding Apple Maps (6+ on 8.3)

[2015-06-25 11:13] n0mar commented on #13
@colbyfayock here are the details for Flex…

**Bundle ID**: com.johncoates.Flex
**App Icons** (bold are all items included under `CFBundleIconFiles` and `CFBundleIcons~ipad`):
- icon-29.png
- icon-40.png
- icon-50.png
- icon-57.png
- icon-58.png
- icon-60.png
- icon-72.png
- **icon-76.png**
- icon-80.png
- icon-100.png
- **icon-114.png**
- **icon-120.png**
- **icon-144.png**
- **icon-152.png**
- *

[2015-06-25 11:19] n0mar commented on #19
@rhpt could you give the App Icon names for any? An update will be out much faster if you can provide @colbyfayock with everything! :smile:

[2015-06-25 13:25] colbyfayock commented on #13
thanks @n0mar

[2015-06-25 15:42] BakedBroccoli commented on #15
Thanks for my new favorite theme!

Just wanted to drop a request for Swipes and Dictionary.com Premium!

[2015-06-25 16:13] maaya1989 opened #20 "Icon Requests"
* calcbot
* calendars 5
* voyages-sncf
* infuse
* Teevee
* itv shows 3
* itranslate
* dictionary.com
* VSCOcam
* enlight
* snapseed
* camera+
* hipstamatic
* runtastic
* runtastic six pack

[2015-06-25 22:50] colbyfayock commented on #15
@BakedBroccoli Dictionary.com is a paid app, can you please provide the bundle ID and icon file names?

[2015-06-26 01:57] BakedBroccoli commented on #15
@colbyfayock

Ah, of course. The bundle ID is com.reference.dictionaryadlite and the icon files are "AppIconPaid60x60"

[2015-06-26 14:59] M92PL opened #21 "icon requests"
~~AdobeAcrobat~~
~~Allegro~~
Listonic
~~IKO~~
~~GG~~
~~Wykop~~
~~Opera Mini~~
~~Fifa 15 Companion~~
~~DatPiff~~

[2015-06-26 16:45] michaelsevmir opened #22 "Icon Requests with BundleID's"
Hi man, first of all amazing theme (my favorite), fits perfect on my iPhone 6; on reddit page you tell me that i can put request in this site, i have a few with that respective BundleID.

Edit 1: Now with label, thanks to @colbyfayock
Edit 2: Put the update info in the comment below, plus now i know the sizes that i need for my iPhone 6

Thanks in advance

[2015-06-27 02:54] Israelnub opened #23 "Icon Requests"
Hey man, I would love if you could theme these icons. I would love to send a $5 donation if I could get my homescreen all set up with your theme! Appreciate it.

~~Things (com.culturedcode.ThingsTouch) (AppIcon-(x)px) x = (29,40,50,57,60,72,76))~~
Star Wars Card Trader (com.topps.force)
~~Tweetbot (com.tapbots.Tweetbot3) (AppIcon (x) x (x) x = (29,40,60))~~
~~Overcast (fm.overcast.overcast)~~
~~De

[2015-06-27 20:13] ghost commented on #19
**Google+**
- icon-29.png
- icon-29@2x.png
- icon-40.png
- icon-40@2x
- icon-50
- icon-50@2x
- icon-57
- icon-57@2x
- icon-60@2x
- icon-72
- icon-72@2x
- icon-76
- icon-76@2x

I can't find the list of icons for Activator and AppInfo. I have been told, however, that you can't theme Activator without modyfing a plist.

[2015-06-27 23:42] h4ck-y0u opened #24 "Icon Requests (iPad)"
A few key icons that are missing or not working for the iPad.

- ~~Safari~~
- PhotoBooth
- ~~Clock~~
- ~~Photos~~
- ~~Skype~~
- ~~Camera~~
- ~~Clock~~
- MEGA

I have no other Winterboard entries besides minimal.iOS.8 so no conflicts should be occuring.

Regards,
h4ck_y0u - /r/iOSthemes
iPad 3rd Gen, iOS 8.3

[2015-06-29 04:23] colbyfayock commented on #22
@michaelsevmir thanks for the bundle id's any chance you can get some of the icon names as well? it would be super helpful!!

[2015-06-29 04:29] colbyfayock commented on #19
@rhpt hm i have all of those themed for G+, if you wanna check in my config in lib/mios_icons.jsx and make sure i'm not missing something? i have the right bundle id as well... hm

i'm going to try just throwing a @3x for AppInfo. I'm releasing a dev version tonight on http://cydia.fay.io please let me know if Apple Maps and AppInfo get themed :D

[2015-06-29 05:14] colbyfayock commented on #12
@inket themed this on latest dev release at http://cydia.fay.io - went ahead and used the new icon and just flattened it out so they were still both distinct :)

[2015-06-29 05:14] colbyfayock commented on #12
let me know if it's not theming for some reason

[2015-06-29 05:14] #12 closed

[2015-06-29 05:16] colbyfayock commented on #13
@TheLonewolf69 @n0mar Flex is up on http://cydia.fay.io - can one of you confirm it's theming?

[2015-06-29 05:19] colbyfayock commented on #15
Swipes, Bing, FoxNow, Glide, yahoo sports themed

[2015-06-29 05:20] colbyfayock commented on #21
Adobe Acrobat themed on http://cydia.fay.io

[2015-06-29 05:20] #16 closed

[2015-06-29 05:29] inket commented on #12
Thank you so much! It's perfect!

[2015-06-29 13:24] rasiquiz opened #25 "Apple Airport Icon"
The Apple Airport Utility Icon is already masked, so If you dont apply the mask theme you will see black edges

[2015-06-29 13:27] rasiquiz opened #26 "Icon request"
Screens by Edovia
Prompt by Panic
BarMagnet from Cydia
MusixMatch
Ecoute
Squire
~~AppCake ._.~~
CrashReporter
Flex (resolution problem on 6 Plus)

[2015-06-29 13:30] colbyfayock commented on #12
:D

[2015-06-29 13:52] nickhue opened #27 "[icon request]"
Bethpage Federal Credit Union app,iPhone 6+ iOS 8.3

[2015-06-29 14:40] RichForever commented on #21
Thank you! Patiently waiting for next update :)

[2015-06-29 15:14] colbyfayock opened #28 "DNB, VG TV-Guide"
https://itunes.apple.com/us/app/dnb/id390631214?mt=8
https://itunes.apple.com/us/app/vg-tv-guide/id324005908?mt=8

[2015-06-29 17:03] michaelsevmir commented on #22
@colbyfayock Here´s the list, i really didn´t know how to find those names but after search in the file system i got them (i got a iPhone 6, 58x58 for settings and 120x120 for icon, idk if you also want to do it at 180x180 for 6+users), thanks

_App Store_
1. Angry Birds: **com.clickgamer.AngryBirds**
   1. Icon@2x (Size: 120x120)
   2. Icon (Size: 58x58)
2. ~~Apple Watch: **com.apple.Bridge**~~

[2015-06-30 02:41] ghost commented on #19
I upgraded to the dev version. Here's what I have for AppInfo and Google+. Maps got themed.

![img_1162](https://cloud.githubusercontent.com/assets/756116/8422931/997a37c6-1ea7-11e5-8730-5f202f3b989d.PNG)

![img_1163](https://cloud.githubusercontent.com/assets/756116/8422932/997d010e-1ea7-11e5-810f-68d1bac9ce7e.PNG)

[2015-06-30 03:45] colbyfayock commented on #17
theming on latest

[2015-06-30 03:45] #17 closed

[2015-06-30 03:54] colbyfayock commented on #19
@rhpt Google+ is correctly themed. AppInfo - any chance you can find the filenames I'm missing? i have Icon, @2x, and @3x

[2015-06-30 04:09] colbyfayock commented on #10
@nellthan22 dev release 2.0.3 should fix all of these properly. let me know if they dont on yours

[2015-06-30 04:09] #10 closed

[2015-06-30 04:10] colbyfayock commented on #24
Safari, Clock, Photos, Camera all fixed in 2.0.3 via http://cydia.fay.io

[2015-06-30 04:44] n0mar commented on #19
@colbyfayock

**Bundle ID**: `com.mileskabal.appinfo`

**CFBundleIconFiles**:
- `Icon.png` (57px)
- `Icon@2x.png` (114px)
- `IconHD.png` (512px)

[2015-06-30 05:06] h4ck-y0u commented on #24
Thanks Colby, I replied to your comment on reddit. Also, I've created my own icons for MEGA (very basic) as I noticed it was currently not on the icon list. If you're interested, they can be found at http://imgur.com/a/zyEYe

I just copied the com.apple.camera folder inside your updated dev folder and replaced each image with a different one, keeping the resolutions the same.

If you use them awes

[2015-06-30 13:48] colbyfayock commented on #24
@h4ck-y0u well the only thing i'd say is i would want the actual "M" that MEGA uses. so with that in mind, do you use photoshop? also are you familiar at all with the command line? id be happy to accept a pull request with the icon psd if you can figure out how to do that. i still need to document my new contributing workflow. should make it easy for others to help out if they'd like :D

[2015-06-30 21:12] thewolfnears opened #29 "Icon Request: JW Library"
Bundle ID:

org.jw.jwlibrary

Icon file names

AppIcon29x29.png

AppIcon29x29@2x.png

AppIcon29x29@2x~ipad.png

AppIcon29x29@3x.png

AppIcon29x29~ipad.png

AppIcon40x40@2x.png

AppIcon40x40@2x~ipad.png

AppIcon40x40@3x.png

AppIcon40x40~ipad.png

AppIcon50x50@2x~ipad.png

AppIcon50x50~ipad.png

AppIcon57x57.png

AppIcon57x57@2x.png

AppIcon60x60@2x.png

AppIcon60x60@3x.png

AppIcon72x72@2x~ipad.pn

[2015-07-01 06:57] h4ck-y0u commented on #24
But, that is the M that Mega uses isnt it? I got it from their website. Maybe it's different per country but here in Australia, that's their logo haha. And yeah command line is fine I have Fedora next to me with git ready to go. Will sort out a few other .PSDs and make a Pull Request soon.

[2015-07-01 13:00] BakedBroccoli commented on #15
Yayy! Do you plan on making an dictionary.com icon?

[2015-07-01 13:20] colbyfayock commented on #15
I do! those are just the ones I have done so far.

[2015-07-01 13:21] BakedBroccoli commented on #15
Awesome, don't mean to sound pushy. Thanks again!

[2015-07-01 13:31] colbyfayock commented on #24
Hm, weird haha not sure. But https://itunes.apple.com/us/app/mega/id706857885?mt=8 that's what I'm seeing there and on their website, mind doing that? i got lucky and found a super high res version :D you can grab it here http://d.fay.io/xJ3z

[2015-07-01 13:34] colbyfayock commented on #24
oh, and for the psd, probably will be fine just duplicating one of the ones existing. its basically a 512x512 psd with the "framework.psd" linked as a top layer. please use those colors :)

[2015-07-02 02:34] colbyfayock commented on #13
@TheLonewolf69 moviebox, gba4ios, and playbox i'm not seeing in Cydia, i'll theme them if you get me the info for them like n0mar did for Flex

[2015-07-02 02:34] #13 closed

[2015-07-02 04:12] colbyfayock commented on #28
2.0.4

[2015-07-02 04:12] #28 closed

[2015-07-02 04:14] colbyfayock commented on #15
@BakedBroccoli dictionary.com is now themed :D let me know if it doesn't work!

edit: see 2.0.4, just released to http://cydia.fay.io

[2015-07-02 04:14] #15 closed

[2015-07-02 04:15] colbyfayock commented on #27
@nickhue just released 2.0.4 to http://cydia.fay.io that has Bethpage in it. let me know if it doesn't work for some reason, but it's theming for me. enjoy!

[2015-07-02 04:15] #27 closed

[2015-07-02 04:56] n0mar commented on #13
Flex is working, thank you, @colbyfayock

[2015-07-02 04:57] n0mar commented on #18
@rhpt can you try and add the Bundle ID's and icon names to at least some of these, please? :smile:

[2015-07-02 13:26] BakedBroccoli commented on #15
Looks fantastic, you're the man!

[2015-07-02 13:31] colbyfayock commented on #15
:D

[2015-07-02 15:11] ghost commented on #18
I'll add more later.

[code]

[2015-07-02 15:13] ghost commented on #19
Can you say what's been updated in the last two updates? Thanks

[2015-07-02 15:18] colbyfayock commented on #18
thanks @rhpt this helps a lot!

[2015-07-02 15:19] colbyfayock commented on #19
Here's the change log https://github.com/colbyfayock/minimal.iOS.8/releases

[2015-07-02 21:42] rckillers110 opened #30 "Icon Request"
AppStore(india):
Saavn - com.Saavn.Saavn
Paytm - com.one97.paytm
Mobikwik - com.mobikwik
Freecharge - com.freecharge.ios
BookMyShow - BookMyShow.com
Amity University - net.amizone
Amizoner- com.legalimpurity.amizoner

Apple product:
~~AppleWatch - com.apple.Bridge~~
NewsStand -

AppStore(All):
TrueCaller - com.truesoftware.TrueCallerOther
Notification for Reddit - com.redbanhammer.NotificationForR

[2015-07-02 21:49] colbyfayock commented on #30
Thanks. Can you also grab the icon file names please?

[2015-07-02 21:51] rckillers110 commented on #30
yes i can, but it will take some time

:)

any fast way if you know?

[2015-07-02 23:12] colbyfayock commented on #30
hmmm well... if im doing a big batch, i'll download the icon folders to my desktop and find the files that are right. other times i'll ssh in and just look up the file names to match. not the greatest process haha but it's been working

[2015-07-03 03:04] rckillers110 commented on #30
Ok, i will find them

Why don't you use icon bundles ;)
You won't require icon name anymore :P

[2015-07-03 14:22] rckillers110 commented on #30
Hey, i asked a designer , my friend :P
He said, use IconBundles , i don't beed to search , iconbundles will do itself

[2015-07-03 14:26] colbyfayock commented on #30
Yeah, well correct me if I'm wrong, but doesn't the iconbundles not theme EVERYTHING? Like, settings icons, notification center icons, etc etc? I've thought about switching over but i feel like I can have more control with everything the way i do it

[2015-07-03 14:32] rckillers110 commented on #30
Oh, iconBundle
Just theme the springboard icon

For others we still need to find the file and copy it

I got your point, you need small icons or just springboard icon with @2x and @3x?

[2015-07-03 14:38] colbyfayock commented on #30
yeah, thats just why i prefer it. i like the thoroughness doing it manually provides as it grabs everything rather than having mixed icons throughout the phone. i'd be happy to do these manually, just dont expect a really quick turnaround time, i'll get to some here and there so i can do requests for other people too :)

[2015-07-03 14:43] rckillers110 commented on #30
No problem man

It will have a look at all icons, then i will edit the post and add icon names next to it :)

[2015-07-03 14:44] colbyfayock commented on #30
sounds good :D

[2015-07-03 15:05] rckillers110 commented on #30
See this image
I guess icon bundles have the feature

Sent from my iPhone

[2015-07-03 15:14] colbyfayock commented on #30
No image came through, can you try and send it again? might need to actually log in on a computer to attach it

[2015-07-03 15:20] rckillers110 commented on #30
No, i think github don't take up images sent through reply mail

No problem
Here is image : http://i.imgur.com/LCk9ryu.jpg

[2015-07-03 15:49] colbyfayock commented on #30
Hmmmm okay. well maybe i'll give it a try and see if it could work :D thanks for pointing that out

[2015-07-03 15:51] rckillers110 commented on #30
Yes,
May be you just require bundle id :D
And your work become less

;)

Any help, i can ask my friend :)

[2015-07-03 16:36] colbyfayock commented on #30
that would be amazingggggg. hopefully it works as i would like :D

[2015-07-03 16:38] rckillers110 commented on #30
Can we talk directly on mail
Instead of posting everything to github 😅

[2015-07-03 17:46] yellerty opened #31 "Icon Request"
VSCO Cam - co.visualsupply.cam  AppIcon60x60@2x.png

[2015-07-03 19:56] colbyfayock commented on #30
sure, email cydia@fay.io

[2015-07-05 08:11] h4ck-y0u opened #32 "Activator 1.9.4, no Icon Mask."
Latest Activator seems to be ignoring the Icon Mask.

http://i.imgur.com/rccvSgC.jpg

iPad 3rd Gen, 8.4

[2015-07-05 15:52] rckillers110 commented on #30
I don't know why, but my mail is failing again and again

-Rohit Bhati

[2015-07-05 16:31] colbyfayock commented on #30
what's your email address? I'll email you

[2015-07-05 16:32] rckillers110 commented on #30
11030121053@sicsr.ac.in

-Rohit Bhati

[2015-07-05 20:59] ghost commented on #18
Here's more

[code]

[2015-07-08 07:59] thecrimsonice opened #33 "Icon Request"
~~Fyu.se~~
com.fyusion.Fyuse
AppIcon29x29@2x.png
AppIcon40x40@2x.png
AppIcon60x60@2x.png
AppIcon60x60@3x.png

MyIdol
com.huanshi.camera3d
AppIcon29x29.png
AppIcon29x29@2x.png
AppIcon29x29@2x~ipad.png
AppIcon29x29@3x.png
AppIcon29x29~ipad.png
AppIcon40x40@2x.png
AppIcon40x40@2x~ipad.png
AppIcon40x40@3x.png
AppIcon40x40~ipad.png
AppIcon50x50@2x~ipad.png
AppIcon50x50~ipad.png
AppIcon57x57.png
AppIcon

[2015-07-08 23:41] FirePanther opened #34 "Outbank Icon Request"
de.stoegerit.Outbank3iOS
[code]

![appicon_outbankde29x29 3x](https://cloud.githubusercontent.com/assets/1711106/8584844/547f7470-25db-11e5-9bfb-b94c2449b44c.png)
(I know, it's already pretty minimal, but I prefer your style :D)

[2015-07-08 23:48] FirePanther opened #35 "Documents 5 Icon Request"
com.readdle.ReaddleDocsIPad (I use an iPhone, bundleID is still iPad)
[code]
![documents-by-readdle-4 3-for-ios-app-icon-small](https://cloud.githubusercontent.com/assets/1711106/8585149/79c4d27c-25de-11e5-9710-a52c326039df.png)

also already pretty minimal but maybe needs some marginal changes like google photos

[2015-07-08 23:50] FirePanther opened #36 "Skitch (by Evernote) Icon Request"
com.evernote.Skitch.iPad (I use an iPhone 6, bundleID is still iPad?!)
[code]

![202](https://cloud.githubusercontent.com/assets/1711106/8585003/e97ea270-25dc-11e5-94ac-f5b33189c42a.png)

[2015-07-08 23:55] FirePanther opened #37 "Scannable (by Evernote) Icon Request"
com.evernote.Scannable
[code]

![pr_source](https://cloud.githubusercontent.com/assets/1711106/8585063/87dd5ef2-25dd-11e5-928d-142977ab87bc.jpg)

[2015-07-08 23:59] FirePanther opened #38 "Aliexpress Icon Request"
com.alibaba.iAliexpress

[code]

Old icons (still exists in the package)
[code]

(current)
![images](https://cloud.githubusercontent.com/assets/1711106/8585129/4b8bb948-25de-11e5-9e4c-dc6dcec26454.jpg)

(old)
![imgres](https://cloud.githubusercontent.com/assets/1711106/8585133/51b8e106-25de-11e5-8a50-c43442a73942.jpg)

[2015-07-10 02:04] colbyfayock commented on #32
@h4ck-y0u was this definitely masked before? i can't remember that it was

[2015-07-13 08:39] BakedBroccoli commented on #15
Hey man if you have any free time do you think you could churn out an icon for the UE BOOM app? I'm envisioning a faded pink background with a glyph of the speakers, either dual or single like in the app here: http://i.imgur.com/HffbLHX.png

The bundle ID is com.logitech.ue.ueboom and the icon files are AppIcon57x57 and AppIcon60x60

Free app. Thanks!

[2015-07-13 13:29] colbyfayock commented on #15
Sure, I'm moving it to a new ticket :) i'll tag you on it

[2015-07-13 13:30] colbyfayock opened #42 "UE BOOM"
Hey man if you have any free time do you think you could churn out an icon for the UE BOOM app? I'm envisioning a faded pink background with a glyph of the speakers, either dual or single like in the app here: http://i.imgur.com/HffbLHX.png

The bundle ID is com.logitech.ue.ueboom and the icon files are AppIcon57x57 and AppIcon60x60

Free app. Thanks!

[2015-07-13 13:30] colbyfayock commented on #42
@BakedBroccoli

[2015-07-13 13:45] BakedBroccoli commented on #42
Sweet, I'll keep an eye on this. Looking forward to it!

[2015-07-17 05:50] eddiec3 opened #43 "Icon Requests"
If you could make themed icons for the apps: SnapStats, Followers + for Instagram, Geometry Dash, and iSwimTimes - The Ultimate Swim Log, that would be great! Thanks!

[2015-07-19 06:03] csudderth1 opened #44 "A few icon requests"
<b>Guitar Pro</b>

ID: com.arobas-music.iGP

Icons: ic_gp_29x29, ic_gp_40x40, ic_gp_50x50, ic_gp_57x57, ic_gp_58x58, ic_gp_72x72, ic_gp_76x76, ic_gp_80x80, ic_gp_100x100, ic_gp_114x114, ic_gp_120x120, ic_gp_128x128, ic_gp_144x144, ic_gp_152x152, ic_gp_1024x1024

~~<b>Fing</b>~~

ID: overlook.fing

Icons: AppIcon29x29, AppIcon29x29@2x, AppIcon29x29@2x~ipad, AppIcon40x40, AppIcon40x40@2x, AppIcon40x

[2015-07-28 00:07] colbyfayock commented on #20
@maaya1989 can you please provide Bundle ID's and filenames for the apps listed?

dictionary.com and snapseed should already be themed. if not please post a screenshot so I can mark it as a bug. thanks

[2015-07-28 00:07] colbyfayock commented on #21
@M92PL can you please try and provide some bundle ID's and file names for the apps you listed?

[2015-07-28 00:11] colbyfayock commented on #22
@michaelsevmir think you can grab me screenshots or images of what the two Cydia apps look like naturally? not really sure what I'm looking for with a google search.

[2015-07-28 00:17] colbyfayock commented on #23
@Israelnub tweetbot should be themed, can you add a screenshot so I can see? and overcast

getting to the others soon

[2015-07-28 00:21] Israelnub commented on #23
It's in the middle on the dock, I'm pretty sure that's not your icon right?

Israel Dominguez

On Mon, Jul 27, 2015 at 5:17 PM, Colby Fayock notifications@github.com
wrote:

[2015-07-28 00:24] colbyfayock commented on #26
@rasiquiz can you take a screenshot and show me the natural BarMagnet and CrashReporter icon?

[2015-07-28 00:25] colbyfayock commented on #26
@rasiquiz can you also please try to provide bundle ID and icon file names for the requested apps?

[2015-07-28 00:30] colbyfayock commented on #18
@rhpt soundhound paid should already be done, can you throw me a screenshot to verify?

also for the two cydia apps CrashReporter and Cocoa Top can you screenshot what they currently look like naturally?

[2015-07-28 00:34] colbyfayock commented on #23
@Israelnub not seeing the screenshot, can you email it to cydia@fay.io

[2015-07-28 01:33] ghost commented on #18
Crash Reporter
![CrashReporter](http://cs3-3.4pda.to/2795674.png)

CocoaTop
![CocoaTop](http://cydia.saurik.com/icon@2x/ru.domo.cocoatop.png)

[2015-07-28 02:36] colbyfayock commented on #18
@rhpt thanks :+1:

[2015-07-28 20:58] rasiquiz commented on #26
<img width="236" alt="screen shot 2015-07-28 at 22 56 57" src="https://cloud.githubusercontent.com/assets/9870401/8943644/16992646-357c-11e5-92c5-3b7973b5713f.png">
![Uploading Screen Shot 2015-07-28 at 22.57.06.png…]()
<img width="266" alt="screen shot 2015-07-28 at 22 57 41" src="https://cloud.githubusercontent.com/assets/9870401/8943645/16c08a56-357c-11e5-8717-29714b470967.png">
<img width="179

[2015-07-28 20:58] rm127 commented on #26
<p><b>BarMagnet</b></p>

<img width="236" alt="screen shot 2015-07-28 at 22 56 57" src="https://cloud.githubusercontent.com/assets/9870401/8943659/2733d46a-357c-11e5-8ab7-bc5954b8736a.png">
<img width="278" alt="screen shot 2015-07-28 at 22 57 06" src="https://cloud.githubusercontent.com/assets/9870401/8943658/27338ee2-357c-11e5-86a4-caf3a9d9a82e.png">

<p><b>CrashReporter</b></p>

<img width="266

[2015-07-29 10:41] RichForever commented on #21
@colbyfayock sure, just tell me how to do that

[2015-07-29 13:18] colbyfayock commented on #21
this should get you started: http://imgur.com/a/CQ0bN

[2015-07-29 13:30] RichForever commented on #21
@colbyfayock hope this is it

## Allegro

com.allegro.iphone
AppIcon29x29.png
AppIcon29x29@2x.png
AppIcon29x29@2x~ipad.png
AppIcon29x29@3x.png
AppIcon29x29~ipad.png
AppIcon40x40@2x.png
AppIcon40x40@2x~ipad.png
AppIcon40x40@3x.png
AppIcon40x40~ipad.png
AppIcon50x50@2x~ipad.png
AppIcon50x50~ipad.png
AppIcon57x57.png
AppIcon57x57@2x.png
AppIcon60x60@2x.png
AppIcon60x60@3x.png
AppIcon72x72@2x~ipad.png

[2015-07-29 13:45] colbyfayock commented on #21
that looks right! :D

[2015-07-29 13:45] RichForever commented on #21
@colbyfayock  uff :D If you need something else let me know

[2015-07-31 18:58] themungbean82 opened #45 "Icon Requests"
3G Unrestrictor 5 - com.kstreich-dev.3gunrestrictor.configapp
AppCake - appcake2.iphonecake.com
Viggle - net.functionxinc.oda-ota
Winterboard - com.saurik.Winterboard

[2015-07-31 23:28] themungbean82 opened #46 "Preference Icons w/o Mask Style"
I run the theme without the mask, but in settings the icons are all shaped as icons with the masks.  Would it be possible to create a pack with settings that are masked as normal apple icons? Thanks.

[2015-07-31 23:32] itsnoteventhedeluxe opened #47 "Passbook Icon in Settings on 6 Plus"
The Passbook settings icon is not seeming to theme coreectly in iphone 6 Plus.
![img_0007](https://cloud.githubusercontent.com/assets/13594687/9019503/1008bc80-37aa-11e5-9bd3-dfac259d4507.PNG)

[2015-08-05 20:32] jonmostowy opened #48 "Icon Request"
Hey! Great theme, these are just icons I'd love to see done so I could have a fully themed homescreen!

Evil Apples
ESPN Fantasy Football
Newsblur
Destiny Companion App
Call of Duty Official App
Kickstarter
Fastcustomer

thanks alot!
-@m_st_wy

[2015-08-07 23:29] tinytime opened #49 "Icon Request"
Love the theme! Looks great. I do have a few icons that aren't themed. Here are the Bundle ID's and App Info needed (I hope). Thank you!

7-11 App
com.sei.sherman
AppIcon29x29@2x.png
AppIcon29x29@3x.png
AppIcon40x40@2x.png
AppIcon40x40@3x.png
AppIcon60x60@2x.png
AppIcon60x60@3x.png

Chicago Blackhawks App
com.chicagoblackhawks.Blackhawks
AppIcon-CHI57x57.png
AppIcon-CHI57x57@2x.png
AppIcon-CHI60x6

[2015-08-07 23:32] tinytime commented on #49
Oooooo Sorry, and Wunderground (search that and it'll be first) thanks!

[2015-08-08 02:58] tinytime commented on #49
Sorry here's the Bundle ID's and App Info (I hope):

7-11
com.sei.sherman
AppIcon29x29@2x.png
AppIcon29x29@3x.png
AppIcon40x40@2x.png
AppIcon40x40@3x.png
AppIcon60x60@2x.png
AppIcon60x60@3x.png

Blackhawks App
com.chicagoblackhawks.Blackhawks
AppIcon-CHI57x57.png
AppIcon-CHI57x57@2x.png
AppIcon-CHI60x60@2x.png
AppIcon-CHI60x60@3x.png
AppIcon-CHI72x72@2x~ipad.png
AppIcon-CHI72x72~ipad.png
AppIcon-C

[2015-08-18 02:11] colbyfayock commented on #31
This is available on my dev repo http://cydia.fay.io :) would appreciate you letting me know if it works!
https://github.com/colbyfayock/minimal.iOS.8/releases/tag/2.1.1

[2015-08-18 02:11] #31 closed

[2015-08-18 02:12] colbyfayock commented on #33
Fyu.se, Kodi, and Sworkit are available on my dev repo http://cydia.fay.io :) would appreciate you letting me know if they work!
https://github.com/colbyfayock/minimal.iOS.8/releases/tag/2.1.1

[2015-08-18 02:13] colbyfayock commented on #44
Fing is available on my dev repo http://cydia.fay.io :) would appreciate you letting me know if it works!
https://github.com/colbyfayock/minimal.iOS.8/releases/tag/2.1.1

[2015-08-18 02:13] colbyfayock commented on #22
Apple Watch, Fing, and Tabata are available on my dev repo http://cydia.fay.io :) would appreciate you letting me know if they work!
https://github.com/colbyfayock/minimal.iOS.8/releases/tag/2.1.1

[2015-08-18 02:13] colbyfayock commented on #18
Buffer, Check the Weather, Delivered, Emoji++, First State Bank, GV Mobile+ 3, Navigon, Pastebin, and Ringtone Designer Pro are available on my dev repo http://cydia.fay.io :) would appreciate you letting me know if they work!
https://github.com/colbyfayock/minimal.iOS.8/releases/tag/2.1.1

[2015-08-18 02:14] colbyfayock commented on #23
Delivered, Things, and VSCO Cam are available on my dev repo http://cydia.fay.io :) would appreciate you letting me know if they work!
https://github.com/colbyfayock/minimal.iOS.8/releases/tag/2.1.1

[2015-08-18 02:33] Israelnub commented on #23
Yeah it looks like they worked! Just hoping you could theme the Star Wars card trader app and final fantasy tactics apps I sent you, would really appreciate that! 

Israel Dominguez

On Mon, Aug 17, 2015 at 7:14 PM, Colby Fayock notifications@github.com
wrote:

[2015-08-18 02:45] colbyfayock commented on #23
Yup, I'll definitely get them. I'll try to include them on the next one. I've just been super busy, trying to get as many as I can :)

[2015-08-18 02:46] Israelnub commented on #23
No worries man, really appreciate it!

Israel Dominguez

On Mon, Aug 17, 2015 at 7:45 PM, Colby Fayock notifications@github.com
wrote:

[2015-08-18 02:53] n0mar commented on #18
- Apple Watch icon looks good.
- VSCO seems to not be themed (released notes say it should be)
- Music for iOS 8.4 still needs to be themed / renamed with `App Icon29x29@2x`, `App Icon40x40@2x`, `App Icon60x60@2x`, with the Bundle ID of `com.apple.Music`

[2015-08-18 03:05] ghost commented on #18
Looks good! Thank you!

[2015-08-18 12:35] n0mar opened #50 "Icon Compression"
Do you use compression when saving the PNG files?

On most icons you can see a bit of distortion (maybe from thin lines used in high resolution images, like 512px???) around the edges of the glyph, to the background.

Most notable around

- Facebook

- Weather

- Darkroom

- Alien Blue

I'm also running iPhone 6, iOS 8.4, running native resolution (no Upscale/LittleBrother), although, none of that

[2015-08-18 13:27] colbyfayock commented on #50
I do use image compression via https://tinypng.com/

I'll look into it. It might also be how my tool is running through the files to resize. I'll see what I can find out

[2015-08-18 14:15] mathildeo opened #51 "Icon Requests + Icon issues"
Kik as added 180x180 icon. Icon not working.
Facetune now has icons as "AppIcon29x29@2x.png" a.s.o

Icon Requests:
FINN.no
VG Pent.no
Infinit
Emojiary

itslearning
Elevkalender
Mattilbud

Bikbok
Only
H&M
Vero Moda
Cubes Stores
Mallzee
Sobazaar
KappAhl life & style

Thanks :)

[2015-08-21 13:29] slnash24 opened #52 "Icon request"
Tactile Wars
BundleID : com.ankama.tactilwar

[2015-08-22 00:50] colbyfayock commented on #45
hi @themungbean82  can you also get me file names? :)
also, sorry, i wont do appcake

[2015-08-22 00:51] colbyfayock commented on #46
@themungbean82 so are you looking for basically just simply all square output?

[2015-08-22 01:07] themungbean82 commented on #46
Yes. just like as the stock icons are masked.

On Fri, Aug 21, 2015 at 6:51 PM, Colby Fayock notifications@github.com
wrote:

[2015-08-22 01:18] colbyfayock commented on #47
hm, odd, my phones not jailbroken right now (had to get it replaced) but i'll try and look into this fix once they release a new jailbreak

[2015-08-22 01:19] colbyfayock commented on #48
@jonmostowy can you please try and gather the Bundle ID and filenames for each of the apps?

[2015-08-22 01:20] colbyfayock commented on #51
@mathildeo hey, any chance you can get some of the bundle ID and file names? :D

[2015-08-22 01:20] colbyfayock commented on #52
@slnash24 any chance you can also get the filenames?

[2015-08-22 01:34] slnash24 commented on #52
How would I go about doing so?

[2015-08-22 16:54] colbyfayock commented on #52
I'm gonna write up a tutorial this weekend, but so i know where to start for you, do you have ifile? if not, mac/pc?

[2015-08-22 17:44] slnash24 commented on #52
Yes I have ifile

[2015-08-23 06:07] mathildeo commented on #51
Sure!
Here you go :)

Kik

Facetune

[2015-08-23 06:24] mathildeo commented on #51
Sure!
Is it the icon file names in the info.plist you need, or the icon file names from the folder?
Since its sometimes more icons in the folder than named in the .plist :)

[2015-08-25 21:59] firerock2013 opened #53 "Icon Reqest"
I would like to request some icon. Hopefully you can consider my request. Here is the list :

1. Cydia Impactor
   Bundle Id : com.saurik.Impactor

2. Forza Football - Soccer Live Scores
   Bundle Id : com.footballaddicts.livescoreaddicts
   AppIcon29x29
   AppIcon40x40
   AppIcon57x57
   AppIcon60x60

3. Score! Hero
    Bundle Id : com.firsttouch.story
    29x29.png
    40x40.png
    50x50.png

[2015-08-29 13:12] eddiec3 opened #54 "6+ Notifications Not Masking"
The notification icons on my 6+ aren't being masked like the ones on the springboard are. Is there any way this could be fixed?
https://i.imgur.com/FxRozMm.jpg

[2015-08-29 19:07] slnash24 commented on #53
How did you get the file names?

[2015-08-29 19:36] colbyfayock commented on #53
@slnash24 sorry i got really busy with work last week. try starting here. http://imgur.com/a/CQ0bN skip around until it tells you where to find the file names

[2015-08-30 04:42] firerock2013 commented on #53
@colbyfayock thanks for the tutorial I will try that out @slnash24 I use tweak called icon tool to determine bundle id and iFile to go to info.plist for the apps to find their filename.

[2015-09-02 00:51] colbyfayock commented on #20
closing until bundle id / filenames provided

[2015-09-02 00:51] #20 closed

[2015-09-02 00:59] colbyfayock commented on #43
@eddiec3 can you please provide the Bundle ID and file names for these?

[2015-09-02 00:59] colbyfayock commented on #45
closing out until file names provided

[2015-09-02 00:59] #45 closed

[2015-09-02 01:00] colbyfayock commented on #48
closing out until bundle id / filenames provided

[2015-09-02 01:00] #48 closed

[2015-09-02 01:03] colbyfayock commented on #51
@mathildeo sorry for the delay (super busy at work and with client work)

i'd probably say the ones in the folder BECAUSE if i cover all of the images in the folder, i'll definitely cover things like settings icons and any other lazy developers forget to include in the info.plist :)

[2015-09-02 01:07] colbyfayock commented on #52
@slnash24 did the info from the other thread help at all or do you need more info still? i obviously haven't had a chance to put togehter a guide :( plus im jailbreakless right now because i had to get a new phone (drop, shatter, cry)

[2015-09-02 03:02] colbyfayock commented on #18
@tjahjono can you get the bundle id and file names for CrashReporter and CocoaTop? The icons are ready, just need that

You should be able to see Wikiwand with the latest update 2.1.2 on my dev repo http://cydia.fay.io - can you confirm that's working?

[2015-09-02 03:03] colbyfayock commented on #21
@M92PL can you get the filenames for Listonic?

You should be able to see Allegro, IKO, GG, Wykop, Opera Mini, Fifa 15, and DatPiff with the latest update 2.1.2 on my dev repo http://cydia.fay.io - can you confirm they're working?

[2015-09-02 03:04] colbyfayock commented on #23
@Israelnub can you get the file names for Star Wars Card Trader? the icon's ready, just need that info

You should be able to see Final Fantasy Tactics with the latest update 2.1.2 on my dev repo http://cydia.fay.io - can you confirm it's working?

[2015-09-02 03:06] colbyfayock commented on #30
closing until filenames provided

[2015-09-02 03:06] #30 closed

[2015-09-02 03:08] #33 closed

[2015-09-02 03:12] colbyfayock commented on #53
@firerock2013 no rush, as i might not get to these right away, but can you get the file names for Cydia Impactor as well? thanks

also is this what the icon looks like? http://i2.wp.com/www.ihelplounge.com/wp-content/uploads/2015/07/cydia-impactor-icon.jpg?resize=320%2C218

[2015-09-02 03:18] Israelnub commented on #23
Yeah it's work. 

Appinfo is crashing on launch on my phone. Do you know how else I can look up the icon info?

Israel Dominguez

On Tue, Sep 1, 2015 at 8:04 PM, Colby Fayock notifications@github.com
wrote:

[2015-09-02 03:26] colbyfayock commented on #23
Are you technical at all? willing to try and fix it? this might work... https://www.reddit.com/r/jailbreak/comments/2oenez/fix_appinfo_to_work_with_ios_8_also_fix_pc_apps/ no guarantees.

someone else mentioned: "I use tweak called icon tool to determine bundle id and iFile to go to info.plist for the apps to find their filename."

Can also take a look at these:
https://www.reddit.com/r/iOSthemes/

[2015-09-02 03:37] ghost commented on #18
CocoaTop is ru.domo.CocoaTop
CrashReporter is crash-reporter

Wikiwand looks good!

[2015-09-02 03:52] Israelnub commented on #23
I mean I usually know what I'm doing but this is way out of my depth hahaha

I'll keep trying but wouldn't it be easier for you to just download the app and look it up? It's free. 

Israel Dominguez

On Tue, Sep 1, 2015 at 8:26 PM, Colby Fayock notifications@github.com
wrote:

[2015-09-02 03:53] Israelnub commented on #23
Also I've done that fix, it's an old fix and after looking stuff up in the subreddit appinfo has apparentl been down for a couple months. 

Israel Dominguez

On Tue, Sep 1, 2015 at 8:26 PM, Colby Fayock notifications@github.com
wrote:

[2015-09-02 13:30] colbyfayock commented on #18
@tjahjono thanks!!! any chance you can get the filenames too? :D

[2015-09-02 13:33] colbyfayock commented on #23
@Israelnub for one app, yeah, it'd be easier. Unfortunately I lost my jailbreak because I shattered my screen and got it replaced with the newest iOS, so I have no way of doing that :/

[2015-09-02 21:18] ghost commented on #18
Crash Reporter
![Crash Reporter](https://cloud.githubusercontent.com/assets/756116/9644871/1cafeffa-518e-11e5-9a6a-7e6319a100cb.png)

CocoaTop is just Icon.png

[2015-09-03 05:29] firerock2013 commented on #53
@colbyfayock Thanks for taking the time to look into my request. For Cydia Impactor,  I actually not too sure about filenames because it looks confusing to me but I'll send to your mail Impactor's info.plist hopefully it will help out.
my mail m.asyraf84@gmail.com

Have a great day.

[2015-09-03 13:44] colbyfayock commented on #53
## Cydia Impactor

com.saurik.Impactor
Icon-60.png
Icon-76.png
Icon-Small-40.png
Icon-Small.png
Icon-Small@2x.png
Icon-Small-50.png
Icon-Small-50@2x.png

Here's the info from the .plist. thanks @firerock2013

[2015-09-03 20:19] firerock2013 commented on #53
@colbyfayock cool!

[2015-09-04 02:48] #24 closed

[2015-09-04 14:43] RichForever commented on #21
Allegro, IKO, GG, Wykop, Opera Mini, Fifa 15, and DatPiff - works great, thank you

listonic names
ico_02.png <- 144x144px
ico_03.png <- 57x57px
ico_08.png <- 120x120px

[2015-09-23 14:18] RichForever commented on #21
@colbyfayock
could you fix Fifa icon? It looks like Fifa 15 and 16 using the same icons. I think "Fifa Companion" will be the best solution.

[2015-10-22 02:40] colbyfayock commented on #23
coming next dev release

[2015-10-22 02:40] #23 closed

[2015-10-22 02:41] colbyfayock commented on #18
pretty sure these are done in the previous release. if not, they'll be in next release

[2015-10-22 02:41] #18 closed

[2015-10-22 02:43] colbyfayock commented on #38
will be in next dev release coming shortly, let me know / reopen if there are any issues

[2015-10-22 02:43] #38 closed

[2015-10-22 02:43] colbyfayock commented on #37
will be in next dev release coming shortly, let me know / reopen if there are any issues

[2015-10-22 02:43] #37 closed

[2015-10-22 02:43] colbyfayock commented on #36
will be in next dev release coming shortly, let me know / reopen if there are any issues

[2015-10-22 02:43] #36 closed

[2015-10-22 02:43] colbyfayock commented on #35
will be in next dev release coming shortly, let me know / reopen if there are any issues

[2015-10-22 02:43] #35 closed

[2015-10-22 02:43] colbyfayock commented on #34
will be in next dev release coming shortly, let me know / reopen if there are any issues

[2015-10-22 02:43] #34 closed

[2015-10-22 03:04] colbyfayock commented on #21
listonic and fifa 16 in dev release coming shortly

[2015-10-22 03:04] #21 closed

[2015-10-22 03:05] colbyfayock commented on #26
crash reporter is either in the latest or will be in the one coming shortly. still need some bundle id's though

[2015-10-22 03:10] #43 closed

[2015-10-22 03:11] #52 closed

[2015-10-22 03:15] colbyfayock commented on #19
i'm including an update adding iconhd for appinfo. if that doesn't work not sure what else to tell ya, everything else is themed. the dev release is coming shortly

[2015-10-22 03:15] #19 closed

[2015-10-22 03:16] colbyfayock commented on #29
this is coming in a dev release shortly v2.1.3. please let me know if it doesnt work :)

[2015-10-22 03:16] #29 closed

[2015-10-22 03:19] colbyfayock commented on #42
@BakedBroccoli getting to this now that i'm updating for ios9 and all. i usually like to try and keep the icons super similar to the original one, just flat and to the color palette i have set up, unless i dont like the icon :P i'd be happy doing something a little different for ya, but a + and - seem a little too abstract for others to instantly recognize it. would you be okay with the UE logo?

[2015-10-22 03:21] colbyfayock commented on #51
@mathildeo closing this out since I haven't heard from you. feel free to reopen if you can get the bundle id's and filenames. finally have a jailbroken phone again :D

[2015-10-22 03:21] #51 closed

[2015-10-22 03:23] colbyfayock commented on #51
p.s. adding the facetune icon mentioned at the top and trying to add 3x images for kik. release on dev coming shortly

[2015-10-22 04:31] FirePanther opened #55 "Some updated icons"
Hey, first of all: thank you for adding my requested icons, love them all!!

Just wanted to report, that there are some icon name changes (the devs renamed the icons).
Dropbox:
[code]

YouTube:
[code]

Whatsapp:
[code]

Also maybe some icon redesigns needed:
I removed the icons for Google+, GoogleMobile and Google Translate, b/c of the new uppercase "G" Google-Logo.
And the Apple Wallet icon is no

[2015-10-22 07:35] thewolfnears commented on #29
Thank you for making an icon for this app!

You have no idea how many times I've requested this app only to be ignored.

I truly appreciate you taking the time to make an icon.

[2015-10-22 11:45] jtjr908 opened #56 "Icon Request"
I would like to request a few new icons. Thanks in advance!

Dashlane
com.dashlane.dahlanephonefinal
AppIcon40x40@2x.png
AppIcon60x60@2x.png
AppIcon60x60@3x.png

Echofon
net.naan.TwitterFonPro
AppIcon29x29@2x.png
AppIcon29x29@3x.png
AppIcon40x40@2x.png
AppIcon40x40@3x.png
AppIcon60x60@2x.png
AppIcon60x60@3x.png

ESPN Fantasy Football
com.espn.fantasyFootball
AppIcon29x29@2x.png
AppIcon29x29@3x.png

[2015-10-22 13:35] colbyfayock commented on #29
:) my pleasure

[2015-11-03 02:27] colbyfayock commented on #55
fixed this on master. will push out to dev release tonight.

all except an Apple Wallet update. idk thoughts? i kinda like the one i have better than the update, its ugly imo and isn't super drastically different.

closing out for work completion

[2015-11-03 02:27] #55 closed

[2015-11-03 02:31] colbyfayock commented on #22
closing due to inactivity

[2015-11-03 02:31] #22 closed

[2015-11-03 02:33] colbyfayock commented on #25
hey can you show me a screenshot? where can i find this? if it's the wi-fi icon, i think my icons were overridden in ios9, which i'll try to go through and fix before i release an ios9 version

[2015-11-03 02:35] colbyfayock commented on #32
closed due to inactivity. will try to address activator when i can figure out a good way to theme it

[2015-11-03 02:35] #32 closed

[2015-11-03 02:36] colbyfayock commented on #42
closed due to inactivity. reopen if you want

[2015-11-03 02:36] #42 closed

[2015-11-03 02:45] FirePanther commented on #55
Yes, i prefer yours, too, but I am from germany, we don't use the wallet app :D
Btw, I updated the bundle id of iCloud Drive for myself
<img width="200" alt="2015-11-03 03 37 09" src="https://cloud.githubusercontent.com/assets/1711106/10900135/69fbe74a-81dc-11e5-9bcb-bbae32c5edcd.png">
I know the bundle id is com.apple.iCloudDriveApp but in iOS 9 they just download the necessary icons:
<img width=

[2015-11-03 02:55] colbyfayock commented on #44
Guitar Pro, Microsoft OneNote, Network Utility for iOS done, will be pushed out to a dev release shortly via cydia repo http://cydia.fay.io

[2015-11-03 02:55] #44 closed

[2015-11-03 03:01] colbyfayock commented on #55
Hm, which one is iCloud Drive? Not sure I'm seeing or able to find the app for that one for me to add it in there. Help? :)

The calendar icon actually doesn't have the red bar at the top anymore, but glad you got it working good :D

[2015-11-03 03:04] FirePanther commented on #55
I like the old red bar :P and the thicker font looks more flat
you have to show/turn on the icloud drive icon first:
settings > icloud > icloud drive > show on home screen

[2015-11-03 03:07] colbyfayock commented on #55
haha yeahh. well thanks for the icloud tip. i'll have that in when i push the dev update shortly :)

[2015-11-03 03:08] FirePanther commented on #55
:+1:

[2015-11-04 01:27] FirePanther commented on #26
coda (com.panic.DietCoda) is the only app i bought from panic for ios, but i googled the bundle id of prompt: com.panic.Prompt2

[2015-11-04 01:50] colbyfayock commented on #26
- BarMagnet will be added shortly
- Added a 180 icon for flex, let me know if that fixes it
- Closing out without the rest of the ids / filenames

[2015-11-04 01:50] #26 closed

[2015-11-04 02:01] colbyfayock commented on #26
using com.quarter.barmagnet for barmagnet. crossing my fingers it's right :) someone who has it, let me know later if it works :D

[2015-11-04 02:03] colbyfayock commented on #49
these will all be in a dev release later this evening via repo http://cydia.fay.io :) please reopen / comment if you notice any issues

[2015-11-04 02:03] #49 closed

[2015-11-04 02:26] FirePanther commented on #26
It should be: Quarter.BarMagnet

edit: yep
<img width="319" alt="screenshot 2015-11-04 at 03 28 29" src="https://cloud.githubusercontent.com/assets/1711106/10927928/29f15324-82a4-11e5-9fa7-e2e4c6c28efa.png">

[2015-11-04 04:27] colbyfayock commented on #53
these are all done :) https://github.com/colbyfayock/minimal.iOS.8/releases/tag/2.1.5
find them on dev release via repo http://cydia.fay.io

[2015-11-04 04:27] #53 closed

[2015-11-04 05:05] colbyfayock commented on #26
thanks @FirePanther i'll get that fixed next update

[2015-11-04 06:51] csudderth1 opened #57 "Icon requests"
Thanks so much for fulfilling my earlier requests. I have a few more if you wouldn't mind considering them

Provenance
com.jamsoftonline.Provenance
AppIcon29x29@2x
AppIcon29x29@2x~ipad
AppIcon29x29@3x
AppIcon29x29~ipad
AppIcon40x40@2x
AppIcon40x40@2x~ipad
AppIcon40x40@3x
AppIcon40x40~ipad
AppIcon60x60@2x
AppIcon60x60@3x
AppIcon76x76@2x~ipad
AppIcon76x76~ipad

Appster
com.jake0oo0.appster
Icon@2x

[2015-11-05 02:44] firerock2013 commented on #53
Thank you so much. I really appreciate it. My home screen is now perfect.
Looking forward for minimal.ios.9 release.

Best regard.

On Wed, Nov 4, 2015 at 12:27 PM, Colby Fayock notifications@github.com
wrote:

##

Sent from my iPhone

[2015-11-06 03:33] colbyfayock commented on #56
GasBuddy is already done as of yesterday, all the others are here: https://github.com/colbyfayock/minimal.iOS.8/releases/tag/2.1.6

Available on repo http://cydia.fay.io shortly

[2015-11-06 03:33] #56 closed

[2015-11-06 07:28] jtjr908 commented on #56
Thank you!!

[2015-11-06 19:49] colbyfayock opened #58 "Request: NBA"
via twitter.com/kingjose__

[2015-11-10 03:37] colbyfayock opened #59 "minimal.iOS.9"
Hiyas, moving everything over to a new repo for minimal.iOS.9. Future bugs and requests should move over there!

https://github.com/colbyfayock/minimal.iOS.9

Thanks

[2015-11-12 02:08] #58 closed

[2015-11-12 02:08] colbyfayock commented on #58
already themed

[2015-11-12 02:10] colbyfayock commented on #25
@rasiquiz moving over to minimal.iOS.9, if you're still having this issue, can you please open a new issue over there and I'll try to take care of it before I release v1 of that?

https://github.com/colbyfayock/minimal.iOS.9

Thanks, closing this one out

[2015-11-12 02:10] #25 closed

[2015-11-12 02:12] colbyfayock commented on #57
@csudderth1 can you do me a favor and move these over to a new issue on the new Github page for minimal.iOS.9? it would be easier for both of us to keep track of getting these in and if you do, I'll get these all in before releasing V1 of minimal.iOS.9

https://github.com/colbyfayock/minimal.iOS.9

Thanks, closing this one out

[2015-11-12 02:12] #57 closed

[2015-11-12 02:12] colbyfayock commented on #54
@eddiec3 if you're still having this issue, can you please move this over to the new Github for minimal.iOS.9? If so, I'll try to take care of it before v1

https://github.com/colbyfayock/minimal.iOS.9

Thanks, closing this one out

[2015-11-12 02:12] #54 closed

[2015-11-12 02:13] colbyfayock commented on #50
Closing this out, thread is over at minimal.iOS.9 https://github.com/colbyfayock/minimal.iOS.9/issues/1

[2015-11-12 02:13] #50 closed

[2015-11-12 02:14] colbyfayock commented on #47
@itsnoteventhedeluxe  I believe this is fixed now over at minimal.iOS.9, can you try and take a look and if  it's still an problem open up an issue over there?

https://github.com/colbyfayock/minimal.iOS.9

Thanks, closing this one out

[2015-11-12 02:14] #47 closed

[2015-11-12 02:15] colbyfayock commented on #46
@themungbean82  can you do me a favor and move these over to a new issue on the new Github page for minimal.iOS.9? it would be easier for both of us to keep track of getting these in and if you do, I'll get these all in before releasing V1 of minimal.iOS.9

https://github.com/colbyfayock/minimal.iOS.9

Thanks, closing this one out

[2015-11-12 02:15] #46 closed

[2015-11-12 04:57] csudderth1 commented on #57
Absolutely! You read my mind. I was going to email you lol

Sent from my iPhone